html, body {
  padding: 20px 20px 20px 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: #535353;
}

#wrap {
  max-width: 800px;
  margin: 0 auto;
}

.intro {
  padding: 10px 0 20px 0px;
}

h1, h2 {
  text-align: center;
}

.if-phone {
  text-align: center;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  top:0;
  left: 0;
  position: fixed;
  background-color: white;
}

.chart {
  width: 100%;
  height: 100%;
  text-align: center;
}

#acc-chart, #gyro-chart {
  margin: auto;
  display: block;
}

.phone {
  text-align: center;
}

.phone-data {
  margin: 0;
  padding: 10px 33%;
  text-align: left;
}

hr {
  border-color: #fdfdfd;
  width: 100%;
}

#map {
  width: 100%;
  height: 300px;
}